{% extends "base.html" %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
        <h2 class="title">Iniciar Sesión</h2>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}

            <div class="field">
                <label class="label">{{ form.username.label }}</label>
                <div class="control">{{ form.username(class="input") }}</div>
                {% for error in form.username.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="field">
                <label class="label">{{ form.password.label }}</label>
                <div class="control">{{ form.password(class="input") }}</div>
                {% for error in form.password.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="field mt-4">
                {{ form.submit(class="button is-info is-fullwidth") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}